
body{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.App {
  text-align: center;
  background-color: #fcfcf5ea;
  min-height: 100vh;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
  .App-header {
    background-color: #1b4392;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header{
  display:inline-block;
  background-color:#1b4392;
  color:#ffff;
  width:100%;
  min-height: 10vh;
  
}

table{
 margin-top:5%;
 max-width:70%;
 align-items:center;
 margin-left:10%;
}
thead{
  background-color:#1b4392;
  color:#ffff;
  max-width:70%;
}
/* ---- */
